Repository Arii343/akuma-backend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write

Start server and connect to database
  package-lock.json
  package.json
  src/database/connectDataBase.ts
  src/index.ts
  src/loadEnviroment.ts
  src/server/index.ts
Due: eslint --max-warnings=0, prettier --write

Add workflows with sonar and audit and add tests scripts in package.json
  .github/workflows/audit.yml
  .github/workflows/sonar.yml
  package-lock.json
  sonar-project.properties
Due: prettier --write

Add cors middleware
  package-lock.json
  package.json
  src/server/index.ts
Due: eslint --max-warnings=0, prettier --write

Add generalError and notFoundError middlewares
  package.json
  src/CustomError/CustomError.ts
  src/server/index.ts
  src/server/middlewares/generalError/generalError.ts
  src/server/middlewares/notFoundError/notFoundError.ts
Due: eslint --max-warnings=0, prettier --write

Add generalError tests
  jest.config.cjs
  package-lock.json
  package.json
  src/server/middlewares/generalError/generalError.test.ts
Due: eslint --max-warnings=0, prettier --write

Add notFoundError tests
  src/server/middlewares/notFoundError/notFoundError.test.ts
Due: eslint --max-warnings=0, prettier --write

Add pingController and route in index.ts
  src/server/controllers/ping/pingController.ts
  src/server/index.ts
Due: eslint --max-warnings=0, prettier --write

Add pingController tests
  src/server/controllers/ping/pingController.test.ts
Due: eslint --max-warnings=0, prettier --write

Add root route test
  src/server/index.test.ts
Due: eslint --max-warnings=0, prettier --write

Install supertest and add exclusions in sonar-project-properties
  package-lock.json
  package.json
  sonar-project.properties
Due: prettier --write

Add User schema and model
  .eslintrc.json
  sonar-project.properties
  src/database/models/User.ts
Due: eslint --max-warnings=0, prettier --write

Install bcryptjs and jsonwebtoken in package.json
  .eslintrc.json
  package-lock.json
  package.json
Due: prettier --write

Add loginUser controller and types
  src/server/controllers/user/types.ts
  src/server/controllers/user/userController.ts
Due: eslint --max-warnings=0, prettier --write

Typo require to required in User.ts
  src/database/models/User.ts
Due: eslint --max-warnings=0, prettier --write

Add loginUser controller tests
  src/server/controllers/user/types.ts
  src/server/controllers/user/userController.test.ts
Due: eslint --max-warnings=0, prettier --write

Install express-validation in package.json
  package-lock.json
  package.json
  src/server/types.ts
Due: eslint --max-warnings=0, prettier --write

Add userSchema
  src/server/utils/schemas/userSchema.ts
Due: eslint --max-warnings=0, prettier --write

Add userRouter router
  src/server/index.ts
  src/server/routers/user/userRouter.ts
Due: eslint --max-warnings=0, prettier --write

Add ValidationError in generalError.ts
  src/server/middlewares/generalError/generalError.ts
Due: eslint --max-warnings=0, prettier --write

Update import router in userController.ts
  src/server/controllers/user/userController.test.ts
  src/server/controllers/user/userController.ts
Due: eslint --max-warnings=0, prettier --write

Add .js to userSchema and userController imports in userRouter.ts
  src/server/routers/user/userRouter.ts
Due: eslint --max-warnings=0, prettier --write

Add userRouter tests
  src/server/controllers/user/userController.test.ts
  src/server/controllers/user/userController.ts
  src/server/routers/user/userRouter.test.ts
  src/server/types.ts
Due: eslint --max-warnings=0, prettier --write

Install mongodb-memory-server in package.json
  package-lock.json
  package.json
Due: prettier --write

Add env in sonar.yml
  .github/workflows/sonar.yml
  jest.config.cjs
  sonar-project.properties
Due: none

Add Validation Failed test
  src/server/routers/user/userRouter.test.ts
Due: eslint --max-warnings=0, prettier --write

Add schema and model anime
  src/database/models/Anime.ts
Due: eslint --max-warnings=0, prettier --write

Add mocks/anime folder to save animes mock data for animeController test
  src/mocks/anime/animeMock.ts
Due: eslint --max-warnings=0, prettier --write

Create animeController and add getAnimes controller
  src/server/controllers/anime/animeController.ts
Due: eslint --max-warnings=0, prettier --write

Add animeController test
  src/server/controllers/anime/animeController.test.ts
Due: eslint --max-warnings=0, prettier --write

Move user mocks to src/mocks/user
  src/mocks/user/userMock.ts
  src/server/routers/user/userRouter.test.ts
Due: eslint --max-warnings=0, prettier --write

Create animeRouter and add anime route to server/index.ts
  src/server/controllers/anime/animeController.ts
  src/server/index.ts
  src/server/routers/anime/animeRouter.ts
Due: eslint --max-warnings=0, prettier --write

Add animeRouter tests and mock
  src/mocks/anime/animeMock.ts
  src/server/routers/anime/animeRouter.test.ts
Due: eslint --max-warnings=0, prettier --write

Update controller to return only _id, englishTitle and image
  src/server/controllers/anime/animeController.ts
Due: eslint --max-warnings=0, prettier --write

Add pingRouter router
  src/server/routers/ping/pingRouter.ts
Due: eslint --max-warnings=0, prettier --write

Add pingRouter tests
  src/server/routers/ping/pingRouter.test.ts
Due: eslint --max-warnings=0, prettier --write

Change endpoint pingController to pingRouter
  src/server/controllers/ping/pingController.test.ts
  src/server/controllers/ping/pingController.ts
  src/server/index.ts
Due: eslint --max-warnings=0, prettier --write

Marge jwt and JwtPayload imports
  src/server/controllers/user/userController.ts
Due: eslint --max-warnings=0, prettier --write

Add readme endpoints
  README.md
Due: prettier --write

Add postman collection
  Akuma-api.postman_collection.json
Due: prettier --write

Add workflow for testing
  .github/workflows/testing.yml
Due: none

Path conditions:
  eslint --max-warnings=0: any of: *.ts
  prettier --write: any of: *.{ts,css,json,md}
